{% extends 'template.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{asset('/css/login.css')}}">
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

<div class="full-screen-container">
    <div class="login-container">
        <h1 class="login-title">Bienvenue</h1>
        <form method="post" class="form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <span class="message">Email valide</span>
            </div>
            <div class="input-group">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password">
                <span class="message">Mot de passe incorrect</span>
            </div>
            <button type="submit" class="login-button">Se Connecter</button>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html #}
            {# <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div> #}
        </form>
        <div class="navigation">
            <a href="{{path('home')}}">Accueil</a>
            <a href="{{path('users.register')}}">S'inscrire</a>
        </div>
    </div>
</div>
{% endblock %}
