{% extends "template.html.twig" %}
{# {% form_theme form 'fields.twig' %} #}

{% block title %}Mot de passe{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{asset('/css/register.css')}}">
    {% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="full-screen-container">
        <div class="login-container">
            <h1 class="login-title">Nouveau mot de passe</h1>
            <div class="form">
                <div class="input-group">
                    {{ form_label(form.email, 'Email') }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.password, 'Mot de passe') }}
                    {{ form_widget(form.password) }}
                    {{ form_errors(form.password) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.confirmpassword, 'Confirmer le mot de passe') }}
                    {{ form_widget(form.confirmpassword) }}
                    {{ form_errors(form.confirmpassword) }}
                </div>
                <button type="submit" class="login-button">Confirmer</button>
            </div>
            <div class="navigation">
                <a href="{{path('home')}}">Accueil</a>
                <a href="{{path('app_login')}}">Se connecter</a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}