{% extends 'template.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{asset('/css/login.css')}}">
{% endblock %}

{% block body %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="full-screen-container">
    <div class="login-container">
        <h1 class="login-title">Réinitialisation mot de passe</h1>
        <div class="form">
            <div class="input-group">
                {{ form_label(form.email, 'Email') }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <button type="submit" class="login-button">Faire la demande</button>
        </div>
        <div class="navigation">
            <a href="{{path('home')}}">Abandon</a>
        </div>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}
