{% extends 'bootstrap.html.twig' %}

{% block title %}{% trans %}admin.title{% endtrans %}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block pagetitle %}
    <h1 class="mt-4">{% trans %}admin.manageaccessories.title{% endtrans %}</h1>
{% endblock %}

{% block body %}
    {#  Tried to delete a used accessory ?  #}
    <div class="feedback">
        {% if (knifeconflict != 0) %}
            <a class="nav-link" href="{{ path('bootadmin.knives.edit', {id: knifeconflict}) }}">{% trans %}admin.manageknives.checkknife{% endtrans %}</a>
        {% endif %}
    </div>
    <ul class="nav mb-2">
        <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.knives.all', { "new" : "true" } )}}">{% trans %}admin.listknives{% endtrans %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.knives.edit', { "new" : "true" } )}}">{% trans %}admin.addknife{% endtrans %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.categories', { "new" : "true" } )}}">{% trans %}admin.categories{% endtrans %}</</li></a>
        <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.handles', { "new" : "true" } )}}">{% trans %}admin.handles{% endtrans %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.mechanisms', { "new" : "true" } )}}">{% trans %}admin.mechanisms{% endtrans %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.metals', { "new" : "true" } )}}">{% trans %}admin.metals{% endtrans %}</a></li>                                                                            
    </ul>
    {# 
        Check form call context: The form is generic and called for all CRUD ops.
        When updating, the action must call the update service with an ID
    #}
    {% set param = [] %}
    {% if new == "true" %}  {# Update, or Create, delete ? #}
        {% set action = 'bootadmin.accessories' %}
    {% else %}
        {% set action = 'bootadmin.accessories.update' %}
        {% set param = { 'id': id } %}
    {% endif %}
    {# Form #}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form'},
                         'action': path(action, param), 
                         'method': 'POST'
                        }) 
    }}
        {% if accessoryname == '#' %}
            {% set accessoryname = '' %}
        {% endif %}
        {% if new == "true" %}
            <button type="submit" class="btn btn-primary mb-3">{% trans %}buttons.add{% endtrans %}</button>
        {% else %}
            <button type="submit" 
                    class="btn btn-primary mb-3">{% trans %}buttons.modify{% endtrans %}</button>
            <button type="submit" formaction="{{path('bootadmin.accessories', { new: 'abort'})}}" 
                    class="btn btn-primary mb-3">{% trans %}buttons.cancel{% endtrans %}</button>
        {% endif %}
        {{ form_row(form.name, { 'label' : 'admin.manageaccessories.label'|trans,
                                'value': accessoryname,
                                'help': 'admin.manageaccessories.help'|trans,
                                }
                    ) 
        }}
    {{ form_end(form) }}
    {# List existing metals #}
        {% for accessory in accessories %}
    <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-8">{{accessory.name}}</div>
                    <div class="col-1">
                        <a href="{{ path('bootadmin.accessories.delete', {id: accessory.id}) }}"><i class="fa fa-trash"></i></a>
                    </div>
                    <div class="col-1">
                        <a href="{{ path('bootadmin.accessories.update', {id: accessory.id}) }}"><i class="fa fa-pen-to-square"></i></a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
