{% extends 'bootstrap.html.twig' %}

{% block title %}{% trans %}admin.title{% endtrans %}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block pagetitle %}
    <h1 class="mt-4">{% trans %}admin.manageevents.title{% endtrans %}</h1>
{% endblock %}

{% block body %}
    {# Data to be used by eventdate.js, pass the whole event object #}
    <div class="eventdata"
        data-eventobj="{{ event|serialize(format = 'json') }}"
    >
    </div>

    {% include "admin/eventsmenu.html.twig" %}

    {# 
        Check form call context: The form is generic and called for all CRUD ops.
        When updating, the action must call the update service with an ID
    #}
    {% set param = [] %}
    {% if new == "true" %}  {# Update, or Create, delete ? #}
        {% set action = 'bootadmin.events.all' %}
    {% else %}
        {% set action = 'bootadmin.events.update' %}
        {% set param = { 'id': id } %}
    {% endif %}
    {# Form #}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form'},
                         'action': path(action, param), 
                         'method': 'POST'
                        }) 
    }}
        {% if new == "true" %}
            <button type="submit" class="btn btn-primary mb-3">{% trans %}buttons.add{% endtrans %}</button>
        {% else %}
                <button type="submit" 
                    class="btn btn-primary mb-3">{% trans %}buttons.modify{% endtrans %}</button>
                <button type="submit" formaction="{{path('bootadmin.events.all', { new: 'abort'})}}" 
                    class="btn btn-primary mb-3">{% trans %}buttons.cancel{% endtrans %}</button>
        {% endif %}

        <div class="row align-items-start">
            <div class="col ylabel">
                {{ form_row(form.name, { 'label' : 'admin.manageevents.label'|trans,
                                'value': event.name,
                                'help': 'admin.manageevents.help'|trans,
                                }
                        ) 
                }}
            </div>
            <div class="col ylabel">
                {% if locale == 'fr' %}
                    {{ form_row(form.date, { 'label' : 'admin.manageevents.date'|trans,
                                            'value': event.date|date("d/m/Y"),
                                            'help': 'admin.manageevents.helpdate'|trans,
                                            }
                                ) }}
                {% else %}
                    {{ form_row(form.date, { 'label' : 'admin.manageevents.date'|trans,
                                            'value': event.date|date("m/d/Y"),
                                            'help': 'admin.manageevents.helpdate'|trans,
                                            }
                                ) }}
                {% endif %}                
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col ylabel">
                {{ form_row(form.address, { 'label' : 'admin.manageevents.address'|trans,
                                        'value': event.address,
                                        }
                            ) 
                }}
            </div>
        </div>
    {{ form_end(form)}}

    {# List registered events, previous and coming #}
    {% if listall < 2  %}
        <div class="mt-4">
            <h2 class="mb-4">{{'admin.manageevents.listheader'|trans}}</h2>
            {% for oneevent in events %}
            <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">{{oneevent.name}}</div>
                            {% if locale == 'fr' %}
                                <div class="col-2">{{oneevent.date|date("d/m/Y")}}</div>
                            {% else %}
                                <div class="col-2">{{oneevent.date|date("m/d/Y")}}</div>
                            {% endif %}                        
                            {% if listall == 0 %}
                                <div class="col-1">
                                    <a href="{{ path('bootadmin.events.delete', {id: oneevent.id}) }}">
                                        <img class="svgsmall-lightblue" src="/images/svg/trash-bin-outline.svg" 
                                            alt="{{'admin.manageevents.delete'|trans}}"
                                            title="{{'admin.manageevents.delete'|trans}}"/>
                                    </a>
                                </div>
                                <div class="col-1">
                                    <a href="{{ path('bootadmin.events.update', {id: oneevent.id}) }}">
                                        <img class="svgsmall-lightblue" src="/images/svg/pen-to-square-regular.svg" 
                                                                    alt="{{'admin.manageevents.update'|trans}}"
                                                                    title="{{'admin.manageevents.update'|trans}}"/>
                                    </a>
                                </div>
                            {% endif %}                            
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if (listall != 1) %}
        <div class="mt-4">
            <h2 class="mb-4">{{'admin.manageevents.listbefore'|trans}}</h2>
            {% for oneevent in eventsbefore %}
            <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">{{oneevent.name}}</div>
                            {% if locale == 'fr' %}
                                <div class="col-2">{{oneevent.date|date("d/m/Y")}}</div>
                            {% else %}
                                <div class="col-2">{{oneevent.date|date("m/d/Y")}}</div>
                            {% endif %}                        
                            {% if listall == 0 %}
                                <div class="col-1">
                                    <a href="{{ path('bootadmin.events.delete', {id: oneevent.id}) }}">
                                        <img class="svgsmall-lightblue" src="/images/svg/trash-bin-outline.svg" alt=""/>
                                    </a>
                                </div>
                                <div class="col-1">
                                    <a href="{{ path('bootadmin.events.update', {id: oneevent.id}) }}">
                                        <img class="svgsmall-lightblue" src="/images/svg/pen-to-square-regular.svg" alt="" title=""/>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <link rel="stylesheet" href="{{asset('/css/yves.css')}}">
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ asset('scripts/eventdate.js')}}"></script>
{% endblock %}
