

{# Data to be used by menuhandler.js #}
<div class="menudata" data-pathinfo="{{app.request.pathinfo}}"></div>

<ul class="nav mb-2">
    <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.events.all', { "new" : "true" } )}}">{% trans %}admin.events.manage{% endtrans %}</a></li>
    {# <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.events.all', { "new" : "true",
                                                     "action": "nextevents"} )}}">{% trans %}admin.events.listnext{% endtrans %}</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.events.all', { "new" : "true",
                                                     "action": "oldevents"} )}}">{% trans %}admin.events.listprevious{% endtrans %}</a></li> #}
    <li class="nav-item"><a class="nav-link" href="#">{% trans %}admin.events.listnext{% endtrans %}</a></li>
    <li class="nav-item"><a class="nav-link" href="#">{% trans %}admin.events.listprevious{% endtrans %}</a></li>
</ul>
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ asset('scripts/menuhandler.js')}}"></script>

