{% extends 'bootstrap.html.twig' %}

{% block title %}{% trans %}admin.title{% endtrans %}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block pagetitle %}
    <h1 class="mt-4">{% trans %}admin.manageknives.title{% endtrans %}</h1>
{% endblock %}

{% block body %}

    {% include "admin/adminmenu.html.twig" %}

    {# List knives #}
    <ul class="list-group">
        {% for knife in allknives %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col">{{knife.name}} ({{knife.images|length}})</div>
                    <div class="col-1">
                        {% if knife.published == true %}    
                            <img class="svgsmall-lightgreen" src="/images/svg/plug-circle-plus-solid.svg" alt=""/>
                        {% else %}
                            <img class="svgsmall-red" src="/images/svg/plug-circle-minus-solid.svg" alt=""/>
                        {% endif %}
                    </div>
                    <div class="col-1">
                        <a href="{{ path('bootadmin.knives.edit', {id: knife.id}) }}">
                        <img class="svgsmall-lightblue" src="/images/svg/pen-to-square-regular.svg" alt="" title=""/>                        </a>
                    </div>
                    <div class="col-1 deleteaction" 
                            data-knifeid={{knife.id}}
                            data-knifename="{{knife.name}}"
                            data-message="{{'admin.manageknives.deleteconfirm'|trans}}"
                            data-bs-toggle="modal" data-bs-target="#deletionModal">
                        <a href="{{ path('bootadmin.knives.delete', {id: knife.id}) }}">
                            <img class="svgsmall-red" src="/images/svg/trash-bin-outline.svg" alt=""/>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <!-- Modal used for knife deletion confirmation -->
    <div class="modal fade" id="deletionModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">{{'admin.manageknives.deleteconfirm'|trans}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Will be replaced by knife.js handler</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'buttons.cancel'|trans}}</button>
                    <button type="button" class="btn btn-primary modalaction">{{'buttons.confirm'|trans}}</button>
                </div>
            </div>
        </div>
    </div>    
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ asset('scripts/knife.js')}}"></script>
{% endblock %}
