{% extends 'bootstrap.html.twig' %}

{% block title %}{% trans %}admin.title{% endtrans %}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block pagetitle %}
    <h1 class="mt-4">{% trans %}admin.manageknives.title{% endtrans %}</h1>
{% endblock %}

{% block body %}
    <ul class="nav mb-2">
        <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.knives.edit', { "new" : "true" } )}}">{% trans %}admin.addknife{% endtrans %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.accessories', { "new" : "true" } )}}">{% trans %}admin.accessories{% endtrans %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.categories', { "new" : "true" } )}}">{% trans %}admin.categories{% endtrans %}</</li></a>
        <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.handles', { "new" : "true" } )}}">{% trans %}admin.handles{% endtrans %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.mechanisms', { "new" : "true" } )}}">{% trans %}admin.mechanisms{% endtrans %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.metals', { "new" : "true" } )}}">{% trans %}admin.metals{% endtrans %}</a></li>                                                                            
    </ul>
    {# List knives #}
    <ul class="list-group">
        {% for knife in allknives %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col">{{knife.name}}</div>
                    <div class="col">{{knife.price}} €</div>
                    <div class="col">{{'admin.manageknives.mechanism'|trans}} : {{knife.mechanism}}</div>
                    <div class="col">{{'admin.manageknives.stock'|trans}} : {{knife.stock}} </div>
                    <div class="col">{{'admin.manageknives.category'|trans}} : {{knife.category}}</div>
                    <div class="col-1">
                        <a href="{{ path('bootadmin.knives.delete', {id: knife.id}) }}"><i class="fa fa-trash"></i></a>
                    </div>
                    <div class="col-1">
                        <a href="{{ path('bootadmin.knives.edit', {id: knife.id}) }}"><i class="fa fa-pen-to-square"></i></a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
