{% extends 'bootstrap.html.twig' %}

{% block title %}{% trans %}admin.title{% endtrans %}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block pagetitle %}
    <h1 class="mt-4">{% trans %}admin.managelogs.title{% endtrans %}</h1>
{% endblock %}

{% block body %}

    {% include "admin/logsmenu.html.twig" %}

    {# Form #}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form'},
                         'method': 'POST'
                        }) }}
        <div class="row">
            <div id="before" class="col">
                {{ form_row(form.startDate, { 'label': 'admin.managelogs.startdate'|trans})}}
            </div>
            <div id="after" class="col">
                {{ form_row(form.endDate, { 'label': 'admin.managelogs.enddate'|trans}) }}
            </div>
        </div>
    {{form_end(form) }}

    <div class="row ms-2">
        <div class="form-check col">
            <input class="form-check-input levelselector" type="checkbox" value="" id="debug" checked>
            <label class="form-check-label" for="debug">
                {{'logs.debug'|trans}}
            </label>
        </div>
        <div class="form-check col">
            <input class="form-check-input levelselector" type="checkbox" value="" id="informational" checked>
            <label class="form-check-label" for="informational">
                {{'logs.informational'|trans}}
            </label>
        </div>
        <div class="form-check col">
            <input class="form-check-input levelselector" type="checkbox" value="" id="warning" checked>
            <label class="form-check-label" for="warning">
                {{'logs.warning'|trans}}
            </label>
        </div>
        <div class="form-check col">
            <input class="form-check-input levelselector" type="checkbox" value="" id="error" checked>
            <label class="form-check-label" for="error">
                {{'logs.error'|trans}}
            </label>
        </div>
        <div class="form-check col">
            <input class="form-check-input levelselector" type="checkbox" value="" id="fatal" checked>
            <label class="form-check-label" for="fatal">
                {{'logs.fatal'|trans}}
            </label>
        </div>
    </div>

    {# List existing metals #}
    <ul id="loglist" class="list-group mt-4">
        {% for log in logs %}
            <li class="list-group-item pt-0 pb-0">
                <div class="row mt-1 mb-0 pt-0 pb-0 textsmall">
                    {% if locale == 'fr' %}
                        <div class="col-2">{{log.logtime|date("d/m/Y H:i:s")}}</div>
                    {% else %}
                        <div class="col-2">{{log.logtime|date("m/d/Y H:i:s")}}</div>
                    {% endif %}                        
                    {% if log.severity > 2 %}
                        <div class="col-2 yerror">{{severitylabels[log.severity]}}</div>
                    {% else %}
                        <div class="col-2">{{severitylabels[log.severity]}}</div>                    
                    {% endif %}
                    <div class="col-3">{{log.useremail}}</div>
                    <div class="col-2">{{log.action}}</div>
                    <div class="col msgzoom">
                        <img class="svgsmall-lightblue" src="/images/svg/magnifying-glass-solid.svg" alt=""/>
                    </div>
                    <div class="col msgdetails"data-visible=false>
                        {{log.message}}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <link rel="stylesheet" href="{{asset('/css/yves.css')}}">
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ asset('scripts/logs.js')}}"></script>
{% endblock %}
