{% extends 'bootstrap.html.twig' %}

{% block title %}{% trans %}admin.title{% endtrans %}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block pagetitle %}
    <h1 class="mt-4">{% trans %}admin.managemetals.title{% endtrans %}</h1>
{% endblock %}

{% block body %}
    {# Form #}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form'},
                         'action': path('bootadmin.metals'), 
                         'method': 'POST'
                        }) 
    }}
        {% if new %}
            <button type="submit" class="btn btn-primary mb-3">{% trans %}buttons.add{% endtrans %}</button>
        {% else %}
            <button type="submit" class="btn btn-primary mb-3">{% trans %}buttons.modify{% endtrans %}</button>
        {% endif %}
        {{ form_row(form.name, { 'label' : 'admin.managemetals.label'|trans,
                                'value': '',
                                'help': 'admin.managemetals.help'|trans,
                                }
                    ) 
        }}
    {{ form_end(form) }}
    {# List existing #}
    <ul class="list-group">
        {% for metal in metals %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-8">{{metal.name}}</div>
                    <div class="col-1">
                        <a href="{{ path('bootadmin.metals.delete', {id: metal.id}) }}"><i class="fa fa-trash"></i></a>
                    </div>
                    <div class="col-1">
                        <a href="{{ path('bootadmin.metals.update', {id: metal.id}) }}"><i class="fa fa-pen-to-square"></i></a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
