{% extends 'bootstrap.html.twig' %}

{% block title %}{% trans %}admin.title{% endtrans %}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block pagetitle %}
    <h1 class="mt-4">{% trans %}admin.manageslides.title{% endtrans %}</h1>
{% endblock %}

{% block body %}

    {# 
        Check form call context: The form is generic and called for all CRUD ops.
        When updating, the action must call the update service with an ID
    #}
    {% set param = [] %}
    {% set action = 'bootadmin.slide.edit' %}
    {% if id != 0 %}  {# Update, or Create, delete ? #}
        {% set param = { 'id': id } %}
    {% endif %}


    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form'},
                        'action': path(action, param), 
                        'method': 'POST'
                        }) 
    }}
        
    {% include "admin/slidesmenu.html.twig" %}

    {# Buttons --------------------------------------------------------------------------------------------------------- #}
    <div class="mt-3">
        {% if id == 0 %}
            <button type="submit" class="btn btn-primary mb-3">{% trans %}buttons.add{% endtrans %}</button>
        {% else %}
            <button type="submit" 
                    class="btn btn-primary mb-3">{% trans %}buttons.modify{% endtrans %}</button>
            <button type="submit" formaction="{{path('bootadmin.slideshow.list')}}" 
                    class="btn btn-primary mb-3">{% trans %}buttons.cancel{% endtrans %}</button>
        {% endif %}
    </div>
    {# Nav Tabs --------------------------------------------------------------------------------------------------------- #}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active ylink" 
                    id="home-tab" data-bs-toggle="tab" 
                    data-bs-target="#home" 
                    type="button" role="tab" aria-controls="home" 
                    aria-selected="true">{% trans %}admin.manageslides.tab1{% endtrans %}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link ylink" 
                    id="images-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#images" 
                    type="button" role="tab" aria-controls="profile" 
                    aria-selected="false">{% trans %}admin.manageslides.tab2{% endtrans %}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link ylink disabled" 
                    id="title-tab" 
                    data-bs-toggle="tab" 
                    data-bs-target="#title" 
                    type="button" role="tab" aria-controls="profile" 
                    aria-selected="false">{{slide.name}}</button>
        </li>
    </ul>

    {# Nav Panes --------------------------------------------------------------------------------------------------------- #}
    <div class="tab-content">
        {# M A I N --------------------------------------------------------------------------------------------------------- #}
        <div class="tab-pane active " id="home" role="tabpanel" aria-labelledby="home-tab"  align-items="left">
            <div class="row align-items-start">
                <div class="col-4 ylabel"> {{ form_row(form.name, { 'label' : 'admin.manageslides.name'|trans, 
                                                                    'value': slide.name,
                                                                    'help': 'admin.manageslides.namehelp'|trans, })  }}</div>
                <div class="col-8 ylabel"> {{ form_row(form.description, { 'label' : 'admin.manageslides.description'|trans, 'value': slide.description })  }}</div>
            </div>
            <div class="row">
                <div class="col ylabel">{{ form_row(form.active, { 'label' : 'admin.manageslides.active'|trans,'value': slide.active,}) }}</div>
                <div class="col ylabel">{{ form_row(form.slider, { 'label' : 'admin.manageslides.slider'|trans,'value': slide.slider,}) }}</div>
                <div class="col ylabel">{{ form_row(form.daterange, { 'label' : 'admin.manageslides.daterange'|trans,'value': slide.daterange,}) }}</div>
            </div>
            {# Dates here #}
            <div class="row align-items-start">
            {% if id == 0 %}    {# New diaporama ? #}
                <div class="col ylabel"> {{ form_row(form.datein, { 'label' : 'admin.manageslides.datein'|trans,
                                                                        'value': slide.datein,
                                                                    'attr' : { "init": 'soy', 'nofuture' : 'false', 'chronoposition' : '1' }  
                                                                    })}}
                </div>
                <div class="col ylabel"> {{ form_row(form.dateout, { 'label' : 'admin.manageslides.dateout'|trans,
                                                                        'value': slide.dateout,
                                                                        'attr' : { "init": 'eoy', 'nofuture' : 'false', 'chronoposition' : '2' }  
                                                                    })}}
                </div>
            {% else %}  {# Existing diapo #}
                <div class="col ylabel"> {{ form_row(form.datein, { 'label' : 'admin.manageslides.datein'|trans,
                                                                        'value': slide.datein,
                                                                    'attr' : { "init": 'asis', 'nofuture' : 'false', 'chronoposition' : '1' }  
                                                                    })}}
                </div>
                <div class="col ylabel"> {{ form_row(form.dateout, { 'label' : 'admin.manageslides.dateout'|trans,
                                                                        'value': slide.dateout,
                                                                        'attr' : { "init": 'asis', 'nofuture' : 'false', 'chronoposition' : '2' }  
                                                                    })}}
                </div>            
            {% endif %}
            </div>
        </div>
        {# I M A G E S --------------------------------------------------------------------------------------------------------- #}
        <div class="tab-pane mt-4" id="images" role="tabpanel" aria-labelledby="images-tab"  align-items="left">
            <div class="row">
                <div class="col ylabel">
                    {{ form_row(form.slides, { 'label' : 'admin.manageslides.imagestab'|trans}) }}
                </div>
            </div>
            {% if slide.slides is defined and slide.slides is not null  %}
                <div id="refreshzone" class="container text-center allimages">
                    <div class="row">
                        {% for image in slide.slides %}
                            <div id="imgcard-{{image.id}}" class="col-sm">
                                <img class="imagesmall"
                                    data-imageid="{{image.id}}"
                                    data-imagefile="{{image.filename}}"
                                    data-imageshowid="{{slide.id}}"
                                    data-imagerank="{{image.rank}}"
                                    data-showname="{{slide.name}}"
                                    src="{{asset('images/slideshow/' ~ image.filename)}}" alt="Not loaded"
                                >
                                <div id="commandzone" class="mt-4">
                                    {# The shift left icon #}
                                    {% if loop.index != 1 %}
                                        <a id="left-{{slide.id}}-{{image.id}}-{{image.rank}}" 
                                            href="{{ path('bootadmin.slides.swapphotos') }}">
                                            <img class="svgsmall-lightblue" src="/images/svg/arrow-back.svg" alt=""/>
                                        </a>
                                    {% endif %}
                                    {# The delete icon #}
                                    <a id="del-{{slide.id}}-{{image.id}}" 
                                        href="{{ path('bootadmin.slides.removephoto') }}">
                                        <img class="svgsmall-lightblue" src="/images/svg/trash-bin.svg" alt=""/>
                                    </a>
                                    {# The shit right icon  #}
                                    {% if not loop.last %}
                                        <a id="right-{{slide.id}}-{{image.id}}-{{image.rank}}" 
                                            href="{{ path('bootadmin.slides.swapphotos') }}">
                                            <img class="svgsmall-lightblue" src="/images/svg/arrow-forward.svg" alt=""/>
                                        </a>
                                    {% endif %}                                
                                </div>
                            </div>
                        {% endfor %}
                    </div> 
                    <div id="feedback" class="row mt-4"><p></p></div>
                </div>
            {% endif %}
        </div>
        {# S L I D E   N A M E  ------------------------------------------------------------------------------------------------ #}
        <div class="tab-pane mt-4" id="title" role="tabpanel" aria-labelledby="title-tab"  align-items="left">
        </div>



    {# --------------------------------------------------------------------------------------------------------- #}
    {{ form_end(form) }}

    {# List slides #}
    {% include "admin/slideslist.html.twig" %}

    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ asset('scripts/menuhandler.js')}}"></script>
    <script src="{{ asset('scripts/datehandler.js')}}"></script>
    <script src="{{ asset('scripts/slideshow.js')}}"></script>
{% endblock %}
