

{# 
  Data to be used by slider.js.
  imgsource is passed by the client page in the include directive.
#}
<div class="sliderdata" data-imagesid="{{imgsourceid}}"
                        data-buttons="{{buttons}}"
                        data-interval="{{interval}}"
                        data-mousehovermsg="{% trans %}slider.hover{% endtrans %}"
                        data-mouseoutmsg="{% trans %}slider.out{% endtrans %}"
>
</div>
<div class="mx-auto" style="width: 50%;">
    <div class="container bg-light">
        <div class="col-md-12 text-center">
            <button id="showslider" type="submit" class="btn btn-primary mb-3">{% trans %}buttons.slidershow{% endtrans %}</button>
            <button id="hideslider" type="submit" class="btn btn-primary mb-3">{% trans %}buttons.sliderclose{% endtrans %}</button>
        </div>
    </div>
</div>
<div class="mx-auto" style="width: 50%;">
  <div id="sliderstatus">
      <p style="text-align:center;"></p>
  </div>
</div>
<div id="sliderzone" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {# <button type="button" data-bs-target="#sliderzone" data-bs-slide-to="0" class="active"></button> #}
  </div>
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    {# <div class="carousel-item">
      <img src="ny.jpg" alt="New York" class="d-block w-100">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>    
    </div> #}
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev slidercontrol" type="button" data-bs-target="#sliderzone" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next zoomaction slidercontrol" type="button" data-bs-target="#sliderzone" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<!-- F U L L    S C R E E N     H A N D L E R  -->
<div id="fullscreen" class="sliderzoomoff">
  <h2 id="zoomtext">{% trans %}slider.zoomof{% endtrans %}</h2>
</div>

<link rel="stylesheet" href="{{asset('/css/yves.css')}}">
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ asset('scripts/slider.js')}}"></script>
