
    <h2 class="mt-3 mb-3">{% trans %}admin.manageslides.listheader{% endtrans %}</h2>
    <ul class="list-group">
        {% for slide in allslides %}
            <li class="list-group-item mb-1 pb-1">
                <div class="row">
                    <div class="col-2"><h5>{{slide.name}} ({{slide.slides|length}})</h5></div>
                        {% if locale == 'fr' %}
                        <div class="col">{% trans %}generic.du{% endtrans %} {{slide.datein|date("d/m/Y")}} {% trans %}generic.au{% endtrans %} {{slide.dateout|date("d/m/Y")}}</div>
                    {% else %}
                        <div class="col">{% trans %}generic.du{% endtrans %} {{slide.datein|date("m/d/Y")}} {% trans %}generic.au{% endtrans %} {{slide.dateout|date("m/d/Y")}}</div>
                    {% endif %}                     
                    {% if slide.active %}
                        <div class="col-1">
                            <a href="{{ path('bootadmin.slide.edit', {id: slide.id}) }}">
                                <img class="svgsmall-lightgreen" src="/images/svg/plug-circle-plus-solid.svg" alt=""/>
                            </a>
                        </div>
                    {% else %}
                        <div class="col-1">
                            <a href="{{ path('bootadmin.slide.edit', {id: slide.id}) }}">
                            <img class="svgsmall-red" src="/images/svg/plug-circle-minus-solid.svg" alt=""/>                            
                            </a>
                        </div>
                    {% endif %}
                    {% if slide.daterange %}
                        <div class="col-1">
                            <a href="{{ path('bootadmin.slide.edit', {id: slide.id}) }}">
                                <img class="svgsmall-lightgreen" src="/images/svg/calendar-days-regular.svg" alt=""/>                            
                            </a>
                        </div>
                    {% else %}
                        <div class="col-1">
                            <a href="{{ path('bootadmin.slide.edit', {id: slide.id}) }}">
                                <img class="svgsmall-red" src="/images/svg/calendar-days-regular.svg" alt=""/>                            
                            </a>
                        </div>
                    {% endif %}
                    <div class="col-1">
                        <a href="{{ path('bootadmin.slide.edit', {id: slide.id}) }}">
                            <img class="svgsmall-lightblue" src="/images/svg/pen-to-square-regular.svg" alt="" title=""/>                        
                        </a>
                    </div>
                    <div class="col-1 zoom">
                        <a href="#">
                            <img class="svgsmall-lightblue" src="/images/svg/magnifying-glass-solid.svg" alt=""/>
                        </a>
                    </div>
                    <div class="col-1" data-bs-toggle="modal" data-bs-target="#deletionModal"
                            data-slidename="{{slide.name}}"
                        >
                        <a class="deleteaction" href="{{ path('bootadmin.slide.delete', {id: slide.id}) }}">
                            <img class="svgsmall-red" src="/images/svg/trash-bin-outline.svg" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="details">
                    <div class="row justify-content-start">
                        <div class="col textdetails">
                            {{slide.description}}
                        </div>
                    </div>
                    <div class="row justify-content-start">
                        <div class="col">
                            {% if slide.active %}
                                <span class="on">{% trans %}admin.manageslides.activeflag{% endtrans %} : </span>
                            {% else %}
                                <span class="off">{% trans %}admin.manageslides.inactiveflag{% endtrans %} : </span>
                            {% endif %}
                            {% if slide.slider %}
                                <span class="on">{% trans %}admin.manageslides.sliderflag{% endtrans %} : </span>
                            {% endif %}
                            {% if slide.gallery %}
                                <span class="on">{% trans %}admin.manageslides.galleryflag{% endtrans %} : </span>
                            {% endif %}
                            {% if slide.daterange %}
                                <span class="on">{% trans %}admin.manageslides.daterangeflag{% endtrans %}</span>
                            {% else %}
                                <span class="off">{% trans %}admin.manageslides.nodaterangeflag{% endtrans %}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row justify-content-start">
                        <div class="col">
                            {% if slide.monday %}<span class="on">{% trans %}generic.monday{% endtrans %}-</span>
                                {% else %}<span class="off">{% trans %}generic.monday{% endtrans %}-</span>{% endif %}
                            {% if slide.tuesday %}<span class="on">{% trans %}generic.tuesday{% endtrans %}-</span>
                                {% else %}<span class="off">{% trans %}generic.tuesday{% endtrans %}-</span>{% endif %}
                            {% if slide.wednesday %}<span class="on">{% trans %}generic.wednesday{% endtrans %}-</span>
                                {% else %}<span class="off">{% trans %}generic.wednesday{% endtrans %}-</span>{% endif %}
                            {% if slide.thursday %}<span class="on">{% trans %}generic.thursday{% endtrans %}-</span>
                                {% else %}<span class="off">{% trans %}generic.thursday{% endtrans %}-</span>{% endif %}
                            {% if slide.friday %}<span class="on">{% trans %}generic.friday{% endtrans %}-</span>
                                {% else %}<span class="off">{% trans %}generic.friday{% endtrans %}-</span>{% endif %}
                            {% if slide.saturday %}<span class="on">{% trans %}generic.saturday{% endtrans %}-</span>
                                {% else %}<span class="off">{% trans %}generic.saturday{% endtrans %}-</span>{% endif %}
                            {% if slide.sunday %}<span class="on">{% trans %}generic.sunday{% endtrans %}</span>
                                {% else %}<span class="off">{% trans %}generic.sunday{% endtrans %}</span>{% endif %}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <!-- Modal used for slideshow deletion confirmation -->
    <div class="modal fade" id="deletionModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">{{'admin.manageslides.deleteconfirm'|trans}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Will be replaced by slideshow.js handler</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'buttons.cancel'|trans}}</button>
                    <button type="button" class="btn btn-primary modalaction">{{'buttons.confirm'|trans}}</button>
                </div>
            </div>
        </div>
    </div>    
    <script src="{{ asset('scripts/slideshow.js')}}"></script>

