

{# Data to be used by menuhandler.js #}
<div class="menudata" data-pathinfo="{{app.request.pathinfo}}"></div>

{# <div id="adminpath">
    <p>{{ app.request.pathinfo }}</p>
</div> #}

<ul class="nav mb-2 dynmenu">
    <li class="nav-item"><a class="nav-link sticky" href="{{ path('bootadmin.users.list', { "new" : "true" } )}}">{% trans %}user.manage{% endtrans %}</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ path('bootadmin.users.edit')}}">{% trans %}user.add{% endtrans %}</a></li>
</ul>
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ asset('scripts/menuhandler.js')}}"></script>

