{% extends 'bootstrap.html.twig' %}

{% block title %}{% trans %}admin.title{% endtrans %}{% endblock %}

{% block pagetitle %}
    <h1 class="mt-4">{% trans %}admin.manageusers.title{% endtrans %}</h1>
{% endblock %}

{% block body %}

    {% include "admin/usersmenu.html.twig" %}


    <div class="mt-4">
        <div class="row mb-4 ylistheader">
            <div class="col-4">{{'admin.manageusers.email'|trans}}</div>
            <div class="col-2">{{'admin.manageusers.delete'|trans}}</div>
            <div class="col-2">{{'admin.manageusers.update'|trans}}</div>
            <div class="col-3">{{'admin.manageusers.resetpwd'|trans}}</div>
        </div>
        {% for user in users %}
            <div class="row">
                <div class="col-4">{{ user.email}}</div>
                <div class="col-2">
                    <a href="{{ path('bootadmin.users.delete', {id: user.id}) }}"><i class="fa fa-trash"></i></a>
                </div>
                <div class="col-2">
                    <a href="{{ path('bootadmin.users.edit', {id: user.id}) }}"><i class="fa fa-pen-to-square"></i></a>
                </div>
                <div class="col-3">
                    <a href="{{ path('bootadmin.users.resetpwd', {id: user.id}) }}"><i class="fa fa-key"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>

    <link rel="stylesheet" href="{{asset('/css/yves.css')}}">

{% endblock %}
