{% extends 'template.html.twig' %}

{% block title %}Atelier Beaumerle{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{asset('/css/knifedetails.css')}}">
{% endblock %}

{% block script %}
    <script src="{{asset('/scripts/mainmenu.js')}}" defer></script>
    <script src="{{asset('/scripts/carousel.js')}}" defer></script>
    <script src="{{asset('/scripts/newsletter.js')}}" defer></script>
{% endblock %}

{% block body %}
    <div class="contenu">
        <h1 class="gallery-title">{{ knife.name }}</h1>
        <section class="gallery">
            <div class="blocknife">
                <div class="card  left">
                    <div class="mainpicture">
                        {% for image in knife.images %}
                            {% if image.mainpicture == true %}
                                <img src="{{asset('/images/knife/')}}{{image.filename}}" alt="Photo principale {{ knife.name }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="alldetails">
                        <div class="specificities">
                            <p class="knifedescription">{{ knife.description }}</p>
                            <p class="category">Catégorie : {{ knife.category }}</p>
                            <div class="button-gallery">
                                <a href="{{ path('gallery.home') }}#anchor{{knife.id}}"><span>Retour</span><i></i></a>
                                <a href="{{ path('gallery.detail', {id: knife.id}) }}"><span>Contact</span><i></i></a>
                            </div>                        
                        </div>
                        <div class="details">
                            <div class="components">
                                Composants : 
                                <ul>
                                    <li class="group metals">
                                        <h3>Lame :</h3>
                                        <p>
                                            {% for metals in knife.metals %}
                                                {{ metals.name }}, 
                                            {% endfor %}
                                        </p>
                                    </li>
                                    <li class="group handle">
                                        <h3>Manche :</h3>
                                        <p>
                                            {% for handles in knife.handle %}
                                                {{ handles.name }}, 
                                            {% endfor %}                                    
                                        </p>
                                    </li>
                                    <li class="group accessories">
                                        <h3>Accessoire(s) :</h3>
                                        <p>
                                            {% for accessories in knife.accessories %}
                                                {{ accessories.name }}, 
                                            {% endfor %}
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="knifespec">
                                <ul>
                                    <li>
                                        <h3>Stock :</h3>
                                        <p></p>
                                        {% if knife.stock >0 %}
                                            <p class="available">Disponible</p>
                                        {% else %}
                                            <p class="unavailable">Indisponible</p>
                                        {% endif %}    
                                    </li>
                                    <li>
                                        <h3>Poids :</h3> 
                                        <p>{{ knife.weight }}g</p>
                                    </li>
                                    <li>
                                        <h3>Longueur :</h3>
                                        <p>{{ knife.lenght }}cm</p>
                                    </li>
                                    {% if knife.mechanism == "Fixe" %}

                                    {% else %}
                                        <li>
                                        <h3>Longueur fermé :</h3>
                                        <p>{{ knife.closelenght }}cm</p>
                                        </li>    
                                    {% endif %}
                                    <li>
                                        <h3>Tranchant :</h3>
                                        <p>{{ knife.cuttingedgelenght }}cm</p>
                                    </li>
                                    <li>
                                        <h3>Prix :</h3>
                                        <p>{{ knife.price }} €</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </section>
        <section class="carousel-wrapper" aria-label="Newest Photos">
            <div class="carousel" data-carousel>
                <button class="carousel-button prev" data-carousel-button="prev"><ion-icon name="chevron-back-outline"></ion-icon></button>
                <button class="carousel-button next" data-carousel-button="next"><ion-icon name="chevron-forward-outline"></ion-icon></button>
                <ul data-slides>
                    {% for image in knife.images %}
                        <li class="slide" {% if loop.first %}data-active{% else %}{% endif %}>
                            <img src="{{asset('/images/knife/')}}{{image.filename}}" alt="Carousel {{knife.name}}">
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
{% endblock %}