{% extends 'template.html.twig' %}

{% block title %}Atelier Beaumerle - Nous écrire{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ asset('/css/contact.css') }}">
{% endblock %}

{% block script %}
    <script src="{{asset('/scripts/mainmenu.js')}}" defer></script>
{% endblock %}

{% block body %}
    <div class="contenu">
        <div class="form-container">
            <h1 class="form-title">Nous écrire :</h1>
            {{ form_start(formcontact, {'attr': {'novalidate': 'novalidate', 'class': 'form'}}) }}
                <select name="knife" id="knife-choice">
                    <option value="blank">--</option>
                    {% for knife in knifes %}
                        <option value="{{knife.id}}">{{knife.name}}</option>
                    {% endfor %}
                </Select>

                <a href="" class="add-button">Envoyer</a>           
            {{ form_end(formcontact) }}
    </div>
{% endblock %}
