<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block title %}
                Static Navigation - SB Admin
            {% endblock %} 
        </title>
    </head>
    <body>
        {# The style z-index clause is used to ensure the top menu bar will always be visible #}
        <nav class="navbar navbar-expand navbar-dark bg-dark me-auto sticky-top" style="z-index:1200">
            <!-- Sidebar Toggle button -->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#">
                <img class="svgsmall-lightgreen" src="/images/svg/bars-solid.svg" alt="Show Hide Menu"/>
            </button>
            <!-- Navbar-->
            <ul class="navbar-nav me-auto me-md-0 me-3 me-lg-4">
                <!-- user info if connected -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle useremail" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if app.user %}
                            {{app.user.email}}
                        {% else %}
                            <i class="fas fa-user fa-fw"></i>
                        {%  endif %}
                    </a>
                    {% if app.user %}
                        <script>localStorage.setItem('useremail', '{{app.user.email}}');</script>
                    {% endif %}                
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        {% if app.user %}
                            <li><a class="dropdown-item" href="{{ path('bootadmin.logout') }}">{% trans %}user.disconnect{% endtrans %}</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ path('bootadmin.login') }}">{% trans %}user.connect{% endtrans %}</a></li>
                        {%  endif %}
                    </ul>
                </li>
                <!-- lang Toggle -->
                {% if locale == 'fr' %}
                    <a href="{{ path('bootadmin.switch', { locale: 'en'}) }}" class="nav-link"><img src="/images/uk16.png" alt=""></a>
                {% else %}
                    <a href="{{ path('bootadmin.switch', { locale: 'fr'}) }}" class="nav-link"><img src="/images/fr16.png" alt=""></a>
                {% endif %}                        
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            {# ----------------------------------------------------------------------------------- #}
                            {# The general menu starts here #}
                            <div class="sb-sidenav-menu-heading">{% trans %}admin.tools{% endtrans %}</div>
                            <a class="nav-link" href="{{ path('bootadmin.home') }}">
                                <div class="sb-nav-link-icon">
                                    <img class="svgsmall-lightgreen" src="/images/svg/house-solid.svg" alt="Connect"/>
                                </div>
                                {% trans %}home.home{% endtrans %}
                            </a>
                            <a class="nav-link" href="{{ path('bootadmin.public') }}">
                                <div class="sb-nav-link-icon">
                                    <img class="svgsmall-lightgreen" src="/images/svg/house-solid.svg" alt="Connect"/>
                                </div>
                                {% trans %}home.public{% endtrans %}
                            </a>
                            {% if app.user %}
                                <a class="nav-link" href="{{ path('bootadmin.logout') }}">
                                    <div class="sb-nav-link-icon">
                                        <img class="svgsmall-lightgreen" src="/images/svg/circle-xmark-regular.svg" alt="Disconnect"/>
                                    </div>
                                    {% trans %}user.disconnect{% endtrans %}
                                </a>
                            {% else %}
                                <a class="nav-link" href="{{ path('bootadmin.login') }}">
                                    <div class="sb-nav-link-icon">
                                        <img class="svgsmall-lightgreen" src="/images/svg/arrow-right-from-bracket-solid.svg" alt="Disconnect"/>
                                    </div>
                                    {% trans %}user.connect{% endtrans %}
                                </a>
                            {% endif %}
                            {# ----------------------------------------------------------------------------------- #}
                            {# The action menu starts here #}
                            {# ----------------------------------------------------------------------------------- #}
                            {% if app.user %} 
                                {#  KNIVES ----------------------------------------------------------------------------------- #}
                                <div class="sb-sidenav-menu-heading">{% trans %}admin.actions{% endtrans %}</div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseKnives" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <img class="svgsmall-lightgreen" src="/images/svg/table-columns-solid.svg" alt=""/>
                                    </div>
                                    {% trans %}admin.knives{% endtrans %}
                                    <div class="sb-sidenav-collapse-arrow">
                                        <img class="svgsmall-lightgreen" src="/images/svg/magnifying-glass-solid.svg" alt=""/>
                                    </div>
                                </a>
                                <div class="collapse" id="collapseKnives" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        {% if is_granted('ROLE_ADMIN_SITE') %}
                                            {% include "admin/adminmenu.html.twig" %}
                                        {% endif %}                                
                                    </nav>
                                </div>
                                {# EVENTS ----------------------------------------------------------------------------------- #}
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEvents" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <img class="svgsmall-lightgreen" src="/images/svg/table-columns-solid.svg" alt=""/>
                                    </div>
                                    {% trans %}admin.events.events{% endtrans %}
                                    <div class="sb-sidenav-collapse-arrow">
                                        <img class="svgsmall-lightgreen" src="/images/svg/magnifying-glass-solid.svg" alt=""/>
                                    </div>
                                </a>
                                <div class="collapse" id="collapseEvents" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        {% if is_granted('ROLE_ADMIN_SITE') %}
                                            {% include "admin/eventsmenu.html.twig" %}
                                        {% endif %}                                
                                    </nav>
                                </div>
                                {# USERS ----------------------------------------------------------------------------------- #}
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <img class="svgsmall-lightgreen" src="/images/svg/table-columns-solid.svg" alt=""/>
                                    </div>
                                        {% trans %}user.menuheader{% endtrans %}
                                    <div class="sb-sidenav-collapse-arrow">
                                        <img class="svgsmall-lightgreen" src="/images/svg/magnifying-glass-solid.svg" alt=""/>
                                    </div>
                                </a>
                                <div class="collapse" id="collapseUsers" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        {% if is_granted('ROLE_ADMIN_USERS') %}
                                            <a class="nav-link" href="{{ path('bootadmin.users.list')}}">
                                                                        {% trans %}user.manage{% endtrans %}</a>
                                            <a class="nav-link" href="{{ path('bootadmin.users.edit')}}">{% trans %}user.add{% endtrans %}</a>
                                        {% endif %}                                
                                    </nav>
                                </div>
                                {# DIAPORAMAS  ------------------------------------------------------------------------------- #}
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseDiapo" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <img class="svgsmall-lightgreen" src="/images/svg/table-columns-solid.svg" alt=""/>
                                    </div>
                                        {% trans %}diapos.menuheader{% endtrans %}
                                    <div class="sb-sidenav-collapse-arrow">
                                        <img class="svgsmall-lightgreen" src="/images/svg/magnifying-glass-solid.svg" alt=""/>
                                    </div>
                                </a>
                                <div class="collapse" id="collapseDiapo" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="nav-link" href="{{ path('bootadmin.slideshow.list')}}">{% trans %}diapos.list{% endtrans %}</a>
                                            <a class="nav-link" href="{{ path('bootadmin.slide.edit')}}">{% trans %}diapos.add{% endtrans %}</a>
                                        {% endif %}                                
                                    </nav>
                                </div>
                                {# LOGS  ----------------------------------------------------------------------------------- #}
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLogs" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <img class="svgsmall-lightgreen" src="/images/svg/table-columns-solid.svg" alt=""/>
                                    </div>
                                        {% trans %}logs.menuheader{% endtrans %}
                                    <div class="sb-sidenav-collapse-arrow">
                                        <img class="svgsmall-lightgreen" src="/images/svg/magnifying-glass-solid.svg" alt=""/>
                                    </div>
                                </a>
                                <div class="collapse" id="collapseLogs" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="nav-link" href="{{ path('bootadmin.logs.all')}}">{% trans %}logs.all100{% endtrans %}</a>
                                        {% endif %}                                
                                    </nav>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                    {% block pagetitle %}
                        <h1 class="mt-0">bootstrap template</h1>
                    {% endblock %}
                        <div class="card mb-0">
                            <div class="card-body">
                                <!-- The flash message section -->  
                                {% for message in app.session.flashBag.get('info') %}
                                    <div class="alert alert-info">{{message}}</div>
                                {% endfor %}
                                {% for message in app.session.flashBag.get('success') %}
                                    <div class="alert alert-success">{{message}}</div>
                                {% endfor %}
                                {% for message in app.session.flashBag.get('error') %}
                                    <div class="alert alert-danger">{{message}}</div>
                                {% endfor %}
                                <!-- The page main content -->  
                                <p class="mb-0">
                                    {% block body %}
                                        bootstrap template body
                                    {% endblock %}
                                </p>
                            </div>
                        </div>
                        {# <div style="height: 100vh"></div> #}
                        {# <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div> #}
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        {% block javascripts %}
        {% endblock %}
    </body>

    <link rel="stylesheet" href="{{ asset('css/mini.css') }}">
    <link rel="stylesheet" href="{{ asset('css/yves.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/startbootstrap-sb-admin/dist/css/styles.css') }}">

    <script src="{{asset("node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")}}"></script>
    <script src="{{asset("node_modules/startbootstrap-sb-admin/dist/js/scripts.js")}}"></script>


    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>

    <script src="{{ asset('scripts/scripts.js')}}"></script>
    <script src="{{ asset('scripts/properties.js')}}"></script>
    <script src="{{ asset('scripts/timeHelper.js')}}"></script>
    <script src="{{ asset('scripts/images.js')}}"></script>
    {# <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> #}
    {# <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script> #}

    {# <script src="{{asset("node_modules/fontawesome-free/js/all.js")}}"></script> #}
    {# <script src="{{asset("node_modules/bootstrap/dist/js/bootstrap.min.js")}}"></script> #}
    {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">²    <link href={{asset("node_modules/bootstrap/dist/css/bootstrap.css")}} rel="stylesheet" /> #}
    {# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> #}
    {# <script src="{{asset("node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")}}"></script> #}

</html>
