<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<title>
			{% block title %}
				Static Navigation - SB Admin
			{% endblock %}
		</title>
	</head>
	<body>
		<nav class="navbar navbar-expand navbar-dark bg-dark sb-topnav">
			<!-- Navbar Brand-->
			<a class="navbar-brand ps-3" href="{{ path('home')}}">Beaumerle Dec 2022</a>
			<!-- Sidebar Toggle-->
			{# <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
				<i class="fas fa-bars"></i>
			</button> #}
			<!-- Sidebar Toggle-->
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

		{% block javascripts %}{% endblock %}
	</body>
	<link href={{asset("css/mini.css")}} rel="stylesheet"/>
	<link href={{asset("node_modules/bootstrap/dist/css/bootstrap.css")}} rel="stylesheet"/>
	<script src="{{asset("node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")}}"></script>
	<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
	<script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
	<script src="{{ asset('scripts/scripts.js')}}"></script>
	<script src="{{ asset('scripts/properties.js')}}"></script>
	<script src="{{ asset('scripts/images.js')}}"></script>
</html>
