{% extends 'template.html.twig' %}

{% block title %}Atelier Beaumerle{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{asset('/css/home.css')}}">
{% endblock %}

{% block script %}
    <script src="{{asset('/scripts/mainmenu.js')}}" defer></script>
    <script src="{{asset('/scripts/homepage.js')}}" defer></script>
{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <nav class="navigation">
                {% if app.user %}
                    <p>Bonjour {{ app.user.firstname }}</p>
                {% endif %}
                <ul>
                    <li class="list">
                        <a href="#">
                            <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                            <span class="text">Accueil</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#">
                            <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                            <span class="text">Galerie</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#">
                            <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                            <span class="text">Contact</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="{{path('index.dashboard')}}">
                            <span class="icon"><ion-icon name="hammer-outline"></ion-icon></span>
                            <span class="text">Admin</span>
                        </a>
                    </li>
                    <li class="list">
                        {% if app.user %}
                            <a href="{{path('app_logout')}}">
                                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                                <span class="text">Se déconnecter</span>
                            </a>
                        {% else %}
                            <a href="{{path('app_login')}}">
                                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                                <span class="text">Se connecter</span>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <img src="./images/logo1.png" alt="Logo Beau Merle" class="logo">
            <div class="about">Rencontres</div>
            <div class="menu-toggle"></div>
        </div>
    </header>
    <div class="contenu">
        <section id="home">
            <div class="content">
                <div class="name">
                    <h1 class="reveal">Beau Merle</h1>
                    <p>Fabrication artisanale</p>
                </div>
            </div>
        </section>
        <section id="catalog">
            <div class="button">
                <a href="#"><span>Nos créations</span><i></i></a>
            </div>
            <div class="banner">
                <img src="./images/banner.png" alt="Catalogue">
                <img src="./images/banner.png" alt="Catalogue">
            </div>
        </section>
        <section id="services">
            <div class="container">
                <h1>Nos Collections</h1>
                <ul>
                    <li class="service cuisine active"><a href="#" data-text="&nbsp;Cuisine">&nbsp;Cuisine</a></li>
                    <li class="service poche"><a href="#" data-text="&nbsp;Poche">&nbsp;Poche</a></li>
                    <li class="service table"><a href="#" data-text="&nbsp;Table">&nbsp;Table</a></li>
                    <li class="service collection"><a href="#" data-text="&nbsp;Collection">&nbsp;Collection</a></li>
                    <li class="service autres"><a href="#" data-text="&nbsp;Autres">&nbsp;Autres</a></li>
                </ul>
            </div>
        </section>
        <section id="instructions">
            <h1>Commandes et informations</h1>
            <ul>
                <li class="step">
                    <div class="article">
                        <div class="wrapper">
                            <img src="./images/homepageimages/artisanat.jpg" alt="step 1">
                            <p class="number">1</p>
                        </div>
                        <p>
                            Si un couteau vous plait, vous pouvez me contacter.</br>
                            Je fabrique des pièces uniques.
                        </p>
                    </div>
                </li>
                <li class="step">
                    <div class="article">
                        <div class="wrapper">
                            <img src="./images/homepageimages/materiaux.jpg" alt="step 2">
                            <p class="number">2</p>
                        </div>
                        <p>
                            Vous pouvez également me contacter pour me demander un couteau personnalisé. </br>
                            Mes couteaux sont fabriqués avec différents matériaux pour le manche et la lame et je propose différents
                            mécanismes et accessoires. </br>
                            Nous pouvons également aborder d'autres éléments de personnalisation.
                        </p>
                    </div>
                </li>
                <li class="step">
                    <div class="article">
                        <div class="wrapper">
                            <img src="./images/homepageimages/money.jpg" alt="step 3">
                            <p class="number">3</p>
                        </div>
                        <p>
                            Je privilégie le virement comme mode de règlement. </br>
                            A la réception du paiement je vous fais parvenir vos achats en recommandé à l'adresse souhaitée.</br>
                        </p>
                    </div>
                </li>
            </ul>
        </section>
        <section id="events">
            <h1>Nos prochains salons</h1>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Date</th>
                        <th colspan="1">Nom</th>
                        <th colspan="1">Adresse</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="date">18.12.2022</td>
                        <td class="name">Paris Knifes Week</td>
                        <td class="address">Parc des expositions - Porte de Versailles</td>
                    </tr>
                    <tr>
                        <td class="date">13.01.2023</td>
                        <td class="name">Marché de Brives la Gaillarde</td>
                        <td class="address">Place du marché</td>
                    </tr>
                    <tr>
                        <td class="date">20.01.2023</td>
                        <td class="name">Fête du cochon</td>
                        <td class="address">Salle Justin Bridou, Saint-Jean-Pied-de-Porc 64220</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section id="workshop">
            <h1>L'atelier</h1>
            <p>335 Route de Saint-Thomas, Bras de Fer, 63250 Arconsat - France</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d827.4510672236495!2d3.706656325636536!3d45.8823780745658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0!2zNDXCsDUyJzQ2LjUiTiAzwrA0MicwNC4xIkU!5e0!3m2!1sfr!2sfr!4v1668792379167!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </div>
    <footer>
        <div class="contenu-footer">
            <div class="bloc footer-services">
                <h3>Nos Services</h3>
                <ul>
                    <li><a href="#">Galerie</a></li>
                    <li><a href="#">L'atelier</a></li>
                    <li><a href="#">Commander</a></li>
                </ul>
            </div>
            <div class="bloc footer-contact">
                <h3>Restons en contact</h3>
                <p>55-55-55-55-55</p>
                <p>contact-mail@beaumerle.fr</p>
                <p>Grotte des ours bruns de l'Allier 03000 Thiers</p>
            </div>
            <div class="bloc newsletter">
                <h3>Newsletter</h3>
                {{ form_start(formnewsletter) }}
                    {# {{ form_row(formnewsletter._token) }} #}
                    <div class="input-group">
                        {{ form_label(formnewsletter.email, "Email") }}
                        {{ form_widget(formnewsletter.email) }}
                        {{ form_errors(formnewsletter.email) }}
                    </div>
                    <div class="input-group">
                        {{ form_label(formnewsletter.forknife, "Couteaux") }}
                        {{ form_widget(formnewsletter.forknife) }}
                        {{ form_errors(formnewsletter.forknife) }}
                    </div>
                    <div class="input-group">
                        {{ form_label(formnewsletter.forevents, "Salons") }}
                        {{ form_widget(formnewsletter.forevents) }}
                        {{ form_errors(formnewsletter.forevents) }}
                    </div>
                    <button type="submit" class="add-button">S'inscrire</button>
                {{ form_end(formnewsletter) }}
            </div>
            <div class="bloc footer-networks">
                <h3>Nos réseaux</h3>
                <ul>
                    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon>Facebook</a></li>
                    <li><a href="#"><ion-icon name="logo-instagram"></ion-icon>Instagram</a></li>
                    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon>Tweeter</a></li>
                    <li><a href="#"><ion-icon name="logo-tiktok"></ion-icon>TikTok</a></li>
                    <li><a href="#"><ion-icon name="logo-snapchat"></ion-icon>Snapchat</a></li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}
