<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beau Merle</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <nav class="topmenu">
    <div class="logozone">
      <a href="#section0"><img class="logo"  src="/images/logo1.png" alt="Logo Beau Merle"></a>
      {% if devmode == 'dev' %}
        <div class="debug">
          {% trans %}app.debugversion{% endtrans %} : {% trans %}app.copyright{% endtrans %}
        </div>
      {% endif %}
    </div>
    <div class="nav-links">
      <ul>
          <li><a href="#section0">{% trans %}app.public.menu.accueil{% endtrans %}</a></li>
          <li><a href="#section1">{% trans %}app.public.menu.atelier{% endtrans %}</a></li>
          <li id="gallerymenu"><a href="#thegallery">{% trans %}app.public.menu.galerie{% endtrans %}</a></li>
          <li id="cardsmenu"><a href="#cards">{% trans %}app.public.menu.catalog{% endtrans %}</a></li>
          <li><a href="#infos">{% trans %}app.public.menu.contact{% endtrans %}</a></li>
          <ul>
            <li><a href="{{ path('public.switchlang', { locale: 'en' }) }}">en |</a></li>
            <li><a href="{{ path('public.switchlang', { locale: 'fr' }) }}">fr</a></li>
          </ul>
      </ul>
    </div>
  </nav>
  <div class="allnews">
    <div id="section0" class="news bg-enclume">
      <h1>{% trans %}app.public.main.name{% endtrans %}</h1>
      <h2 >{% trans %}app.public.main.whatis{% endtrans %}</h2>
      <div class="htmltemplate textleft" data-templatename='maintext' data-lang={{locale}}></div>
    </div>
    <div id="section1" class="news bg-thinknife">
      <div class="htmltemplate textleft" data-templatename='story' data-lang={{locale}}></div>
    </div>
    <div id="thegallery">
    </div>
  </div>
  <div id="cards" class="cards">
    <div class="cards-header">
      <div class="htmltemplate textleft" data-templatename='cardsheader' data-lang={{locale}}></div>
    </div>
  </div>
  <div id="infos" class="infos">
    <div class="infoelement">
      <h3>{% trans %}contact.infos{% endtrans %}</h3>
      {{ form_start(formcontact, {'attr': {'novalidate': 'novalidate', 'class': 'form'}}) }}
          <div class="contact">
              {{ form_label(formcontact.email, 'contact.email' | trans) }}
              {{ form_widget(formcontact.email) }}
              {{ form_errors(formcontact.email) }}
          </div>
          <div class="contact object">
              {{ form_label(formcontact.object, 'contact.object' | trans) }}
              {{ form_widget(formcontact.object) }}
              {{ form_errors(formcontact.object) }}
          </div>                
          <div class="contact knife">
              {{ form_label(formcontact.reservation, 'contact.couteau' | trans) }}
              {{ form_widget(formcontact.reservation) }}
              {{ form_errors(formcontact.reservation) }}
          </div>
          <div class="contact">
              {{ form_label(formcontact.text, 'contact.message' | trans) }}
              {{ form_widget(formcontact.text) }}
              {{ form_errors(formcontact.text) }}
          </div>
          <button id="requestcontact">{% trans %}contact.button{% endtrans %}</button>
      {{ form_end(formcontact) }}
      <div class="feedback" hidden>
        <p id='feedback'></p>
      </div>
    </div>
    <div class="infoelement">
        <h3>{% trans %}contact.shop{% endtrans %}</h3>
        <p>335 Route de Saint-Thomas, Bras de Fer, 63250 Arconsat - France</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8335.20455949551!2d3.697428155338033!3d45.87975863223886!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f6a39f16d585a5%3A0x8c6e73b6d1676394!2sCoutellerie%20d&#39;art%20%2F%20Beau%20merle!5e1!3m2!1sfr!2sfr!4v1694419775554!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                width="350" height="350" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div class="infoelement">
          <h3>{% trans %}contact.social{% endtrans %}</h3>
          <a href="#"><img class="svgbig-blue" src="/images/svg/logo-facebook.svg" /></a>
    </div>
  </div>
  <footer class="footer">
      <img class="menu-hamburger svg-white" src="/images/svg/bars-solid.svg" alt="Show Hide Menu"/>
  </footer>
  <div id="globalfullscreen"></div>
</body>
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ asset('scripts/properties.js')}}"></script>
<script src="{{ asset('scripts/dynamic.js')}}"></script>
<script src="{{ asset('scripts/classes/slider.js')}}"></script>
<script src="{{ asset('scripts/classes/gallery.js')}}"></script>
<script src="{{ asset('scripts/classes/card.js')}}"></script>

</html>