<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beau Merle</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel">
</head>
<body>
<header>
    <nav class="topmenu">
      <div class="logozone">
        <a href="#hero"><img class="logo svg-white"  src="/images/svg/beaumerle.svg" alt="Logo Beau Merle"></a>
        {% if devmode == 'dev' %}
          <div class="debug">
            {% trans %}app.debugversion{% endtrans %} : {% trans %}app.copyright{% endtrans %}
          </div>
        {% endif %}
      </div>
      <div class="nav-links">
        <ul>
            <li><a href="#hero">{% trans %}app.public.menu.accueil{% endtrans %}</a></li>
            <li id="categoriesmenu"><a href="#categorygallery">{% trans %}app.public.menu.categories{% endtrans %}</a></li>
            <li id="newsmenu"><a href="#newsgallery">{% trans %}app.public.menu.galerie{% endtrans %}</a></li>
            <li><a href="#contactrequest">{% trans %}app.public.menu.contact{% endtrans %}</a></li>
            {% if devmode == 'dev' %}
              <ul>
                <li><a href="{{ path('public.switchlang', { locale: 'en' }) }}" class="langselector" data-lang="en">en |</a></li>
                <li><a href="{{ path('public.switchlang', { locale: 'fr' }) }}" class="langselector" data-lang="fr">fr</a></li>
              </ul>
            {% endif %}
        </ul>
      </div>
    </nav>
    <div id="hero" class="hero-section">
      <div class="hero-title">
        <div class="htmltemplate textleft" data-templatename='maintext' data-lang={{locale}}></div>
        {# <div class="htmltemplate textleft" data-templatename='atelier' data-lang={{locale}}></div> #}
      </div>
    </div>
</header>
<main>
  {# <div id="categories"></div> #}
  <div id="categorygallery"></div>
  <div id="knivesgallery"></div>
  <div id="newsgallery"></div>
  <div id="infos" class="infos">
    <div class="infoelement">
      <h3>{% trans %}contact.nav{% endtrans %}</h3>
      <div class="infoelement__details">
        <a href="#hero">{% trans %}app.public.menu.accueil{% endtrans %}</a>
        <a href="#categorygallery">{% trans %}app.public.menu.categories{% endtrans %}</a>
      </div>
    </div>
    <div class="infoelement">
          <h2>{% trans %}contact.social{% endtrans %}</h2>
          <div class="infoelement__data">           
            <a href="https://www.facebook.com/BastosSchlass/" 
              target="_blank">Facebook</a>
            <a href="https://www.instagram.com/couteaux_bastos/" 
              target="_blank">Instagram</a>
          </div>
          <h2>{% trans %}contact.video{% endtrans %}</h2>
          <div class="infoelement__details">
            <a href="https://www.youtube.com/watch?v=bpvKTJEBObM\0026list=PLZx0qkIFIprEAGVKJeJmadxVZ3C5X183x" 
              target="_blank">Interview</a>
            <a href="https://www.youtube.com/watch?v=NX_ZiX4ibbM" 
              target="_blank">La Brise</a>
            <a href="https://www.youtube.com/watch?v=jcOUWlB0QXw" 
              target="_blank">Le Langres</a>
          </div>
    </div>
    <div id="contactinrequest" class="infoelement">
      <h3>{% trans %}contact.infos{% endtrans %}</h3>
      {{ form_start(formcontact, {'attr': {'novalidate': 'novalidate', 'class': 'form'}}) }}
          <div class="contact">
              {{ form_label(formcontact.email, 'contact.email' | trans) }}
              {{ form_widget(formcontact.email) }}
              {{ form_errors(formcontact.email) }}
          </div>
          <div class="contact object">
              {{ form_label(formcontact.object, 'contact.object' | trans) }}
              {{ form_widget(formcontact.object) }}
              {{ form_errors(formcontact.object) }}
          </div>                
          <div class="contact knife">
              {{ form_label(formcontact.reservation, 'contact.couteau' | trans) }}
              {{ form_widget(formcontact.reservation) }}
              {{ form_errors(formcontact.reservation) }}
          </div>
          <div class="contact">
              {{ form_label(formcontact.text, 'contact.message' | trans) }}
              {{ form_widget(formcontact.text) }}
              {{ form_errors(formcontact.text) }}
          </div>
          <button id="contactrequest">{% trans %}contact.button{% endtrans %}</button>
      {{ form_end(formcontact) }}
      <div class="feedback">
        <p id='feedback'></p>
      </div>
    </div>
    </div> 
  <div id="slider"></div>
  <div id="zoomer"></div>
</main>
  <footer class="footer">
      <img class="menu-hamburger svg-white" src="/images/svg/bars-solid.svg" alt="Show Hide Menu"/>
  </footer>
</body>
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ asset('scripts/properties.js')}}"></script>
<script src="{{ asset('scripts/translations/labels.js')}}"></script>
{# <script type="importmap">{
  "imports": {
    "Logger": "./scripts/classes/logger.js",
    "DateHelper": "./scripts/classes/datetime.js"
  }
}</script> #}
<script type="module" src="{{ asset('scripts/dynamic.js')}}"></script>
{# <script type="module" src="{{ asset('scripts/classes/gallery.js')}}"></script>
<script type="module" src="{{ asset('scripts/classes/card.js')}}"></script>
<script type="module" src="{{ asset('scripts/classes/slider.js')}}"></script> #}
</html>