<!DOCTYPE html>
<html lang="fr"><div class="js"></div>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Découvrez les créations de l'atelelier Beau Merle. Retrouvez les actualités de l'atelier Beau Merle et les salons. Faites votre choix parmi le catalogue de l'atelier Beau Merle.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'atelier Beau Merle</title>
    <link rel="icon" type="image/gif" href="/images/logo1.png"/>
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/yves.css">
</head>
<body>
    <section id="header">
        <nav class="navigation">
            <a href="#header"><img src="/images/logo1.png" alt="Logo Beau Merle"></a>
            <div id="globalmenu" class="nav-links">
                <a class="menuaction" id='menuclose' href="#"><img class="svgmedium-white" src="/images/svg/close-circle-outline.svg" alt="Close Menu"/></a>            
                <ul>
                    <li><a href="#header">{% trans %}app.public.menu.accueil{% endtrans %}</a></li>
                    <li><a href="#histoire">{% trans %}app.public.menu.atelier{% endtrans %}</a></li>
                    <li><a href="#newsgallery">{% trans %}app.public.menu.galerie{% endtrans %}</a></li>
                    <li id="catalog"><a href="#">{% trans %}app.public.menu.catalog{% endtrans %}</a>
                        <ul id="submenu">
                        </ul>
                    </li>
                    <li><a href="#contact">{% trans %}app.public.menu.contact{% endtrans %}</a></li>
                    <span class="lang">
                        <li><a href="{{ path('bootadmin.switch', { locale: 'en', origin: 'public' }) }}">en</a></li>
                        <li><span> | </span></li>          
                        <li><a href="{{ path('bootadmin.switch', { locale: 'fr', origin: 'public' }) }}">fr</a></li>            
                    </span>
                </ul>
            </div>
            <a class="menuaction" id='menuopen' href="#"><img class="svgmedium-white" src="/images/svg/bars-solid.svg" alt="Show Hide Menu"/></a>
        </nav>
        <div class="intro">
            <div class="maintitle textleft">
                <h1 >{% trans %}app.public.main.name{% endtrans %}</h1><br>
                <h2 >{% trans %}app.public.main.whatis{% endtrans %}</h2>
            </div>
            <div class="htmltemplate textleft" data-templatename='maintext' data-lang={{locale}}>
            </div>
        </div>
    </section>
    <main>
        <section id="histoire">
            <div class="story">
                <h2>{% trans %}app.public.story.header{% endtrans %}</h2>
                <div class="htmltemplate textleft" data-templatename='story' data-lang={{locale}}></div>
            </div>
        </section>
        {# <section id="catalog">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% trans %}app.public.menu.catalog{% endtrans %}
                </a>
                <ul id="publishedknives" class="dropdown-menu">
                    {# Loaded by dynamic.js searching published knives in the DB #}
                </ul>
            </div>
        </section> #}
        <section id='newsgallery'>
            {# Loaded by dynamic.js searching active diapos in the DB #}
        </section>
    </main>
</body>
</html>

<link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
<script src="{{asset("node_modules/bootstrap/dist/js/bootstrap.bundle.js")}}"></script>

<script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ asset('scripts/properties.js')}}"></script>
{# <script src="{{ asset('scripts/mainmenu.js')}}"></script> #}
<script src="{{ asset('scripts/dynamic.js')}}"></script>
<script src="{{ asset('scripts/classes/slider.js')}}"></script>
<script src="{{ asset('scripts/classes/gallery.js')}}"></script>