<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titre par défaut{% endblock %}</title>
    {% block link %}{% endblock %}
    <link rel="icon" type="image/gif" href="{{ asset('/images/logo1.png')}}"/>
    {% block script %}{% endblock %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</head>
<body>
    <section id="flash">
                <!-- The flash message section -->  
                {% for message in app.session.flashBag.get('info') %}
                    <div class="alert-info">{{message}}</div>
                {% endfor %}
                {% for message in app.session.flashBag.get('success') %}
                    <div class="alert-success">{{message}}</div>
                {% endfor %}
                {% for message in app.session.flashBag.get('error') %}
                    <div class="alert-danger">{{message}}</div>
                {% endfor %}
    </section>
    {% block header %}
        <header>
            <div class="container">
                <nav class="navigation">
                    {% if app.user %}
                        <p class="sayhello">Bonjour {{ app.user.firstname }}</p>
                    {% endif %}
                    <ul>
                        <li class="list">
                            <a href="{{path('home')}}">
                                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                                <span class="text">Accueil</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="#">
                                <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                                <span class="text">Galerie</span>
                            </a>
                        </li>
                        <li class="list">
                            <a href="{{path('index.dashboard')}}">
                                <span class="icon"><ion-icon name="hammer-outline"></ion-icon></span>
                                <span class="text">Admin</span>
                            </a>
                        </li>
                        <li class="list">
                            {% if app.user %}
                                <a href="{{path('app_logout')}}">
                                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                                    <span class="text">Se déconnecter</span>
                                </a>
                            {% else %}
                                <a href="{{path('app_login')}}">
                                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                                    <span class="text">Se connecter</span>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                <img src="{{asset('/images/logo1.png')}}" alt="Logo Beau Merle" class="logo">
                <div class="about">Contact</div>
                <div class="menu-toggle"></div>
            </div>
        </header>
    {% endblock %}
    
    {% block body %}

    {% endblock %}

    {% block footer %}
        <footer>
            <div class="contenu-footer">
                <div class="bloc footer-services">
                    <h3>Nos Services</h3>
                    <ul>
                        <li><a href="#">Galerie</a></li>
                        <li><a href="#">L'atelier</a></li>
                        <li><a href="#">Commander</a></li>
                    </ul>
                </div>
                <div class="bloc footer-contact">
                    <h3>Restons en contact</h3>
                    <p>55-55-55-55-55</p>
                    <p>contact-mail@beaumerle.fr</p>
                    <p>Grotte des ours bruns de l'Allier 03000 Thiers</p>
                </div>
                <div class="bloc newsletter">
                    <h3>Newsletter</h3>
                    
                </div>
                <div class="bloc footer-networks">
                    <h3>Nos réseaux</h3>
                    <ul>
                        <li><a href="#"><ion-icon name="logo-facebook"></ion-icon>Facebook</a></li>
                        <li><a href="#"><ion-icon name="logo-instagram"></ion-icon>Instagram</a></li>
                        <li><a href="#"><ion-icon name="logo-twitter"></ion-icon>Tweeter</a></li>
                        <li><a href="#"><ion-icon name="logo-tiktok"></ion-icon>TikTok</a></li>
                        <li><a href="#"><ion-icon name="logo-snapchat"></ion-icon>Snapchat</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    {% endblock %}
</body>
</html>