{% extends 'template.html.twig' %}

{% block title %}Ajouter un accessoire{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{{asset('/css/admin.css')}}">
{% endblock %}
{% block script %}
    <script src="{{asset('/scripts/mainmenu.js')}}" defer></script>
{% endblock %}

{% block body %}
    <div class="contenu">
        <div class="form-container">
            {% if new %}
                <h1 class="form-title">Ajouter un :</h1>    
            {% else %}
                <h1 class="form-title">Modifier un :</h1>
            {% endif %}
            
            {{ form_start(formaccessories, {'attr': {'novalidate': 'novalidate', 'class': 'form'}}) }}
                <div class="input-group">
                    {{ form_row(formaccessories._token) }}
                    {{ form_label(formaccessories.name, "Accessoire") }}
                    {% if new %}
                        {{ form_widget(formaccessories.name) }}
                    {% else %}
                        {{ form_widget(formaccessories.name, {'value' : accessory.name }) }}
                    {% endif %}
                    {{ form_errors(formaccessories.name) }}
                </div>
                {% if new %}
                    <button type="submit" class="add-button">Ajouter</button>
                {% else %}
                    <button type="submit" class="add-button">Modifier</button>
                {% endif %}
            {{ form_end(formaccessories)}}
        </div>
        <div class="admin-list">
            <h2>Accessoires disponibles :</h2>
            <ul>
                {% for accessory in accessories %}
                    <li>
                        <p> {{accessory.name}} </p>
                        <div class="links">
                            <a href="{{ path('accessory.update', {id: accessory.id}) }}" class="update"><ion-icon name="construct-outline"></ion-icon></a>
                            <a href="{{ path('accessory.delete', {id: accessory.id}) }}" class="delete"><ion-icon name="trash-outline"></ion-icon></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}