{% extends 'template.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{{asset('/css/admin.css')}}">
{% endblock %}
{% block script %}
    <script src="{{asset('/scripts/mainmenu.js')}}" defer></script>
{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <nav class="navigation">
                {% if app.user %}
                    <p>Bonjour {{ app.user.firstname }}</p>
                {% endif %}
                <ul>
                    <li class="list">
                        <a href="{{path('home')}}">
                            <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                            <span class="text">Accueil</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#">
                            <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                            <span class="text">Galerie</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#">
                            <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                            <span class="text">Contact</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="{{path('index.dashboard')}}">
                            <span class="icon"><ion-icon name="hammer-outline"></ion-icon></span>
                            <span class="text">Admin</span>
                        </a>
                    </li>
                    <li class="list">
                        {% if app.user %}
                            <a href="{{path('app_logout')}}">
                                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                                <span class="text">Se déconnecter</span>
                            </a>
                        {% else %}
                            <a href="{{path('app_login')}}">
                                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                                <span class="text">Se connecter</span>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <img src="{{asset('/images/logo1.png')}}" alt="Logo Beau Merle" class="logo">
            <div class="about">Rencontres</div>
            <div class="menu-toggle"></div>
        </div>
    </header>
    <div class="contenu">
        <div class="form-container">
            {% if new %}
                <h1 class="form-title">Ajouter une :</h1>
            {% else %}
                <h1 class="form-title">Modifier une :</h1>
            {% endif %}
            {{ form_start(formcategory, {'attr': {'novalidate': 'novalidate', 'class': 'form'}}) }}
                <div class="input-group">
                    {{ form_row(formcategory._token) }}
                    {{ form_label(formcategory.name, "Catégorie") }}
                    {% if new %}
                        {{ form_widget(formcategory.name) }}
                    {% else %}
                        {{ form_widget(formcategory.name, {'value' : category.name}) }}
                    {% endif %}
                    {{ form_errors(formcategory.name) }}
                </div>
                {% if new %}
                    <button type="submit" class="add-button">Ajouter</button>
                {% else %}
                    <button type="submit" class="add-button">Modifier</button>
                {% endif %}
            {{ form_end(formcategory)}}
        </div>    
        <div class="admin-list">
            <h2>Catégories disponibles :</h2>
            <ul>
                {% for category in categories %}
                    <li>
                        <p> {{category.name}} </p>
                        <div class="links">
                            <a href="{{ path('category.update', {id: category.id}) }}" class="update"><ion-icon name="construct-outline"></ion-icon></a>                        
                            <a href="{{ path('category.delete', {id: category.id}) }}" class="delete"><ion-icon name="trash-outline"></ion-icon></a>
                        </div>
                    </li>
                {% endfor %}        
            </ul>
        </div>
    </div>
{% endblock %}
