{% extends 'template.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{{asset('/css/dashboard.css')}}">
{% endblock %}
{% block script %}
    <script src="{{asset('/scripts/mainmenu.js')}}" defer></script>
{% endblock %}


{% block body %}
    <div class="contenu">
        <section class="new-components">
            <h1>Gestion du site</h1>
            <div class="categories-container">
                <h2>Ajouter un(e) :</h2>
                <div class="quick-access">
                    <a href="{{path('accessory.add')}}" class="button">Accessoire</a>
                    <a href="{{path('category.add')}}" class="button">Catégorie</a>
                    <a href="{{path('handle.add')}}" class="button">Manche</a>
                    <a href="{{path('mechanism.add')}}" class="button">Mécanisme</a>
                    <a href="{{path('metal.add')}}" class="button">Métal</a>
                    <a href="{{path('knife.add')}}" class="button">Couteau</a>
                    <a href="{{path('event.add')}}" class="button">Salon</a>
                    <a href="{{path('knife.list')}}" class="button">Couteaux créés</a>
                    <a href="{{path('newsletter.prepare')}}" class="button">Envoyer une Newsletter</a>
                </div>
            </div>
        </section>    
    </div>
{% endblock %}

{% block footer %}{% endblock %}
