{% extends 'template.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block link %}{% endblock %}


{% block body %}
    {{ form_start(formcategory, {'attr': {'novalidate': 'novalidate'}}) }}
                <form action="" method="post" class="form">
                    <div class="input-group">
                        {{ form_label(formcategory.name, "Catégorie") }}
                        {{ form_widget(formcategory.name) }}
                        {{ form_errors(formcategory.name) }}
                    </div>
                    <button type="submit" class="add-button">Ajouter</button>
                </form>
    {{ form_end(formcategory)}}
        <div class="input-group">
            <label for="category">Catégorie</label>
            <select name="category" id="category">
                <option value="--">--</option>
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
    {{ form_start(formmetals, {'attr': {'novalidate': 'novalidate'}}) }}
                <form action="" method="post" class="form">
                    <div class="input-group">
                        {{ form_label(formmetals.name, "Métal") }}
                        {{ form_widget(formmetals.name) }}
                        {{ form_errors(formmetals.name) }}
                    </div>
                    <button type="submit" class="add-button">Ajouter</button>
                </form>
    {{ form_end(formmetals)}}
        <div class="input-group">
            <label for="metal">Métal</label>
            <select name="metal" id="metal">
                <option value="--">--</option>
                {% for metal in metals %}
                    <option value="{{ metal.name }}">{{ metal.name }}</option>
                {% endfor %}
            </select>
        </div>
    {{ form_start(formmechanism, {'attr': {'novalidate': 'novalidate'}}) }}
                <form action="" method="post" class="form">
                    <div class="input-group">
                        {{ form_label(formmechanism.name, "Mécanisme") }}
                        {{ form_widget(formmechanism.name) }}
                        {{ form_errors(formmechanism.name) }}
                    </div>
                    <button type="submit" class="add-button">Ajouter</button>
                </form>
    {{ form_end(formmechanism)}}
        <div class="input-group">
            <label for="mechanism">Mécanisme</label>
            <select name="mechanism" id="mechanism">
                <option value="--">--</option>
                {% for mechanism in mechanisms %}
                    <option value="{{ mechanism.name }}">{{ mechanism.name }}</option>
                {% endfor %}
            </select>
        </div>
    {{ form_start(formaccessories, {'attr': {'novalidate': 'novalidate'}}) }}
                <form action="" method="post" class="form">
                    <div class="input-group">
                        {{ form_label(formaccessories.name, "Accessoire") }}
                        {{ form_widget(formaccessories.name) }}
                        {{ form_errors(formaccessories.name) }}
                    </div>
                    <button type="submit" class="add-button">Ajouter</button>
                </form>
    {{ form_end(formaccessories)}}
        <div class="input-group">
            <label for="accessory">Accessoire</label>
            <select name="accessory" id="accessory">
                <option value="--">--</option>
                {% for accessory in accessories %}
                    <option value="{{ accessory.name }}">{{ accessory.name }}</option>
                {% endfor %}
            </select>
        </div>
    {{ form_start(formhandle, {'attr': {'novalidate': 'novalidate'}}) }}
                <form action="" method="post" class="form">
                    <div class="input-group">
                        {{ form_label(formhandle.name, "Manche") }}
                        {{ form_widget(formhandle.name) }}
                        {{ form_errors(formhandle.name) }}
                    </div>
                    <button type="submit" class="add-button">Ajouter</button>
                </form>
    {{ form_end(formhandle)}}
        <div class="input-group">
            <label for="handle">Manche</label>
            <select name="handle" id="handle">
                <option value="--">--</option>
                {% for handle in handles %}
                    <option value="{{ handle.name }}">{{ handle.name }}</option>
                {% endfor %}
            </select>
        </div>
{% endblock %}
