{% extends 'template.html.twig' %}

{% block title %}Ajouter un manche{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{{asset('/css/admin.css')}}">
{% endblock %}
{% block script %}
    <script src="{{asset('/scripts/mainmenu.js')}}" defer></script>
{% endblock %}


{% block body %}
    <div class="contenu">
        <div class="form-container">
            {% if new %}
                <h1 class="form-title">Ajouter un :</h1>
            {% else %}
                <h1 class="form-title">Modifier un :</h1>
            {% endif %}
            
            {{ form_start(formhandle, {'attr': {'novalidate': 'novalidate', 'class': 'form'}}) }}
                <div class="input-group">
                    {{ form_row(formhandle._token) }}
                    {{ form_label(formhandle.name, "Manche") }}
                    {% if new %}
                        {{ form_widget(formhandle.name) }}
                    {% else %}
                        {{ form_widget(formhandle.name, {'value' : handle.name}) }}
                    {% endif %}
                    {{ form_errors(formhandle.name) }}
                </div>
                {% if new %}
                    <button type="submit" class="add-button">Ajouter</button>
                {% else %}
                    <button type="submit" class="add-button">Modifier</button>
                {% endif %}    
            {{ form_end(formhandle)}}
        </div>
        <div class="admin-list">
            <h2>Manches disponibles</h2>
            <ul>
                {% for handle in handles %}
                    <li>
                        <p> {{handle.name}} </p>
                        <div class="links">
                            <a href="{{ path('handle.update', {id: handle.id}) }}" class="update"><ion-icon name="construct-outline"></ion-icon></a>
                            <a href="{{ path('handle.delete', {id: handle.id}) }}" class="delete"><ion-icon name="trash-outline"></ion-icon></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}