{% extends 'template.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{{asset('/css/adminlist.css')}}">
{% endblock %}
{% block script %}
    <script src="{{asset('/scripts/mainmenu.js')}}" defer></script>
{% endblock %}


{% block body %}
    <div class="contenu">
        <div class="admin-list">
            <h2>Couteaux existants :</h2>
            <ul>
                {% for knife in allknifes %}
                    <li>
                        <p>{{ knife.name }}</p>
                        <div class="links">
                            <a href="{{ path('knife.update', {id: knife.id}) }}" class="update"><ion-icon name="construct-outline"></ion-icon></a>
                            <a href="{{ path('knife.delete', {id: knife.id}) }}" class="delete"><ion-icon name="trash-outline"></ion-icon></a>
                        </div>
                    </li>                
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}