{% extends "template.html.twig" %}
{% form_theme form 'fields.twig' %}

{% block title %}Inscription{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{asset('/css/register.css')}}">
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="full-screen-container">
        <div class="login-container">
            <h1 class="login-title">Bienvenue</h1>
            <div class="form">
                {{ form_row(form.firstname, {
                    label: 'Prénom'
                }) }}
                {# <span class="message"></span> #}
                {{ form_row(form.lastname, {
                    label: 'Nom'
                }) }}
                {# <span class="message"></span> #}
                {{ form_row(form.email, {
                    label: 'Email'
                }) }}
                {# <span class="message"></span>             #}
                {{ form_row(form.address, {
                    label: 'Adresse'
                }) }}
                {# <span class="message"></span>  #}
                {{ form_row(form.password, {
                    
                }) }}
                {# <span class="message"></span> #}
                {# {{ form_row(form.confirm-password, {
                    label: 'Confirmer le mot de passe'
                }) }} #}
                {# <span class="message"></span> #}
                <button type="submit" class="login-button">S'inscrire</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}